<% include ../includes/header %>
<div class="account-pages"></div><!-- 背景 -->
<div class="account-pages-cover"></div>
<div class="login-panel">
    <div class="panel-head">
        <h3 class="text-center">登录 <strong class="text-custom">Opal</strong>CMS 系统</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="/auth/signin">
            <div class="form-input">
                <input class="form-control" type="text" placeholder="Email" name="email">
            </div>
            <div class="form-input">
                <input class="form-control" type="password" placeholder="Password" name="password">
            </div>
            <div class="form-input">
                <button class="btn-submit" type="submit">登录系统</button>
                <a href="javascript:;" class="fr"><h6>密码找回</h6></a>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    <div class="panel-foot">
        <p>©2015 CoolFishStuido</p>
    </div>
</div>
<% include ../includes/footer %>