<% include header %>
<div class="respond">
    <div class="respond-body article-box">
        <div class="article-panel">
            <div class="article-main">
                <div class="article-cover">
                    <img src="/images/timthumb/test4.jpg">
                </div>
                <div class="article-header">
                    <h1 class="article-title">我是标题标题标题标题</h1>
                    <div class="article-meta">
                        <time class="article-date">2015-11-09</time> • 
                        <span>
                            <a href="javascript:;">HTML5</a>
                        </span> • 
                        <span>55次浏览</span> • 
                        <a href="javascript:;">3条评论</a>
                    </div>
                </div>
                <div class="article-content">
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <h2>1213123</h2>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                    <p>这是您在 WeCenter 社交化问答社区程序 上的重要邮件, 功能是进行 WeCenter 社交化问答社区程序 帐户邮箱验证, 请点击下面的连接完成验证</p>
                </div>
                <div class="article-footer">
                    <span class="tags-links">
                        <a href="javascript:;">HTML5</a>
                    </span>
                    <a class="like" href="javascript:;">
                        <span class="heart"></span>
                    </a>
                </div>
            </div>
            <div class="article-related">
            </div>
            <div class="article-comment">
                <div class="respond-title">
                    请输入您要评论的内容...
                </div>
                <form method="get" class="">
                    <div class="row">
                        <div class="col-sm-6 padding-right-10px">
                            <input class="form-control" type="text" placeholder="请输入您的昵称" name="name">
                        </div>
                        <div class="col-sm-6 padding-left-10px">
                            <input class="form-control" type="text" placeholder="请输入您的邮箱" name="email">
                        </div>
                        <div class="col-sm-12">
                            <div class="form-comment">
                                <textarea name="comment" rows="10" tabindex="4" placeholder="请输入您要评论的内容..."></textarea>
                                <div class="comment-smilies">
                                    <img src="/images/smilies/1f600.png">
                                    <img src="/images/smilies/1f606.png">
                                    <img src="/images/smilies/1f612.png">
                                    <img src="/images/smilies/1f613.png">
                                    <img src="/images/smilies/1f614.png">
                                    <img src="/images/smilies/1f602.png">
                                    <img src="/images/smilies/1f618.png">
                                    <img src="/images/smilies/1f621.png">
                                    <img src="/images/smilies/1f627.png">
                                    <img src="/images/smilies/1f609.png">
                                    <img src="/images/smilies/1f60a.png">
                                    <img src="/images/smilies/1f60d.png">
                                    <img src="/images/smilies/1f60e.png">
                                    <img src="/images/smilies/1f61c.png">
                                    <img src="/images/smilies/1f62a.png">
                                    <img src="/images/smilies/1f62d.png">
                                    <img src="/images/smilies/1f605.png">
                                    <img src="/images/smilies/1f339.png">
                                    <img src="/images/smilies/1f44d.png">
                                    <img src="/images/smilies/1f44e.png">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-input">
                            <button class="btn-submit fr" type="submit">提交留言</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="article-sidebar">
            <section>
                <h3>文章分类</h3>
                <ul>
                    <li class="classify-item">
                        <a href="javascript:;">HTML5</a>2
                    </li>
                    <li class="classify-item">
                        <a href="javascript:;">前端特效</a>4
                    </li>
                    <li class="classify-item">
                        <a href="javascript:;">CSS3</a>5
                    </li>
                    <li class="classify-item">
                        <a href="javascript:;">Node.js</a>19
                    </li>
                </ul>
            </section>
            <section>
                <h3>热门文章</h3>
                <ul>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(4)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(3)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(2)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(1)</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>最近文章</h3>
                <ul>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(4)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(3)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(2)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(1)</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>友情链接</h3>
                <ul>
                    <li>
                        <a href="javascript:;">
                            夕酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            窝酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            中二酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            不二酱的个人网站
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<% include footer %>