            </div>
            <div class="footer-panel">
                <div class="copyright">©2015 CoolFishStuido | 京ICP备14019006号 | Yves 461836324@qq.com</div>
            </div>
        </div>
    </body>
</html>