<!DOCTYPE html>
<html>
    <head>
        <title>酷鱼网</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div class="wrapper">
            <div class="header-panel row">
                <div class="col-sm-3 logo-panel">
                    <a class="logo" href="javascript:;">
                        酷鱼网
                    </a>
                </div>
                <nav class="nav-bar col-sm-9">
                    <ul class="text-right">
                        <li><a href="javascript:;">首页</a></li>
                        <li><a href="javascript:;">博客</a></li>
                        <li><a href="javascript:;" class="active">留言</a></li>
                        <li><a href="javascript:;">作品</a></li>
                        <li><a href="javascript:;">关于</a></li>
                    </ul>
                </nav>
            </div>
            <div class="banner-panel message-bg">
                <div class="banner">
                    <div class="explain">
                        <h2>留言板</h2>
                        <div class="banner-describe">
                            <p>留下你的话语，带走我的问候，欢迎大家没事踩踩。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-panel">