<% include header %>
<div class="respond">
    <div class="respond-title">
        <p>留言请输入昵称和邮箱</p>
    </div>
    <div class="respond-body">
        <form method="get" class="">
            <div class="row">
                <div class="col-sm-6 padding-right-10px">
                    <input class="form-control" type="text" placeholder="请输入您的昵称" name="name">
                </div>
                <div class="col-sm-6 padding-left-10px">
                    <input class="form-control" type="text" placeholder="请输入您的邮箱" name="email">
                </div>
                <div class="col-sm-12">
                    <textarea class="form-textarea" name="comment" rows="10" tabindex="4" placeholder="请输入您要留言的内容..."></textarea>
                </div>
                <div class="form-input">
                    <button class="btn-submit fr" type="submit">提交留言</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<% include footer %>            