<% include header %>
<div class="respond">
    <div class="respond-title">
        <p>留言请输入昵称和邮箱</p>
    </div>
    <div class="respond-body">
        <form method="get" class="">
            <div class="row">
                <div class="col-sm-6 padding-right-10px">
                    <input class="form-control" type="text" placeholder="请输入您的昵称" name="name">
                </div>
                <div class="col-sm-6 padding-left-10px">
                    <input class="form-control" type="text" placeholder="请输入您的邮箱" name="email">
                </div>
                <div class="col-sm-12">
                    <div class="form-comment">
                        <textarea name="comment" rows="10" tabindex="4" placeholder="请输入您要留言的内容..."></textarea>
                        <div class="comment-smilies">
                            <img src="/images/smilies/1f600.png">
                            <img src="/images/smilies/1f606.png">
                            <img src="/images/smilies/1f612.png">
                            <img src="/images/smilies/1f613.png">
                            <img src="/images/smilies/1f614.png">
                            <img src="/images/smilies/1f602.png">
                            <img src="/images/smilies/1f601.png">
                            <img src="/images/smilies/1f618.png">
                            <img src="/images/smilies/1f621.png">
                            <img src="/images/smilies/1f622.png">
                            <img src="/images/smilies/1f627.png">
                            <img src="/images/smilies/1f609.png">
                            <img src="/images/smilies/1f60a.png">
                            <img src="/images/smilies/1f60b.png">
                            <img src="/images/smilies/1f60d.png">
                            <img src="/images/smilies/1f60e.png">
                            <img src="/images/smilies/1f61c.png">
                            <img src="/images/smilies/1f62a.png">
                            <img src="/images/smilies/1f62d.png">
                            <img src="/images/smilies/1f605.png">
                            <img src="/images/smilies/1f339.png">
                            <img src="/images/smilies/1f44d.png">
                            <img src="/images/smilies/1f44e.png">
                        </div>
                    </div>
                </div>
                
                <div class="form-input">
                    <button class="btn-submit fr" type="submit">提交留言</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<% include footer %>            