<div class="content-page text-right">
    <ul class="pagination">
        <li class="disabled">
            <span>首页</span>
        </li>
        <li class="active">
            <span>1</span>
        </li>
        <li class="">
            <a href="#">2</a>
        </li>
        <li class="">
            <a href="#">3</a>
        </li>
        <li class="">
            <a href="#">4</a>
        </li>
        <li class="">
            <a href="#">5</a>
        </li>
        <li class="">
            <a href="#">6</a>
        </li>
        <li class="">
            <a href="#">尾页</a>
        </li>
    </ul>
</div>