<% include ../includes/content_header %>
<div class="card-box">
    <div class="card-title">
        <div class="row">
            <div class="col-sm-6">
                留言管理
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="content-list">
            暂无数据
        </div>
        <div class="content-page text-right">
            
        </div>
    </div>
</div>
<% include ../includes/content_footer %>