<% locals.menu = 'admin_message'; %>
<% include ../includes/content_header %>
<div class="card-box">
    <div class="card-title">
        <div class="row">
            <div class="col-sm-6">
                留言管理
            </div>
            <div class="col-sm-6">
                <div class="button-list text-right">
                    <a class="btn btn-create" href="/admin/message">
                        <i class="icon-reply"></i>返回列表
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <form action="/admin/message/<%= locals.context.message.id %>/remove" method="POST">
            <div class="row form-panel">
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="请输入留言者昵称" name="name" value="<%= locals.context.message.name || '' %>" disabled="true">
                    <input class="form-control" type="text" placeholder="请输入留言者邮箱" name="email" value="<%= locals.context.message.email || '' %>" disabled="true">
                    <textarea class="form-control" name="content" rows="10" tabindex="4" placeholder="请输入您要留言的内容..." disabled="true"><%= locals.context.message.content || '' %></textarea>
                    <div class="form-input clearfix">
                        <button class="btn-submit fr" type="submit">删除留言内容</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-description">
                        说实话实话实说
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../includes/content_footer %>