<!DOCTYPE html>
<html>
    <head>
        <title>OpalCMS 后台管理系统</title>
        <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
        <script src="/js/trumbowyg.js"></script>
        <script src="/js/trumbowyg.upload.js"></script>
        <script src="/js/trumbowyg.base64.js"></script>
        <link rel="stylesheet" href="/css/trumbowyg.css">
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='/css/font-awesome.min.css' />
    </head>
    <body>
        <div class="wrapper">  