<div class="side-menu">
    <div class="sidebar-menu">
        <ul>
            <% 
                var sideMenu = [
                    {name: '基础平台', icon: 'icon-dashboard', url: '/admin', menu: 'admin_index'},
                    {name: '内容管理', icon: 'icon-file', url: '/admin/content', menu: 'admin_content'},
                    {name: '留言管理', icon: 'icon-comments', url: '/admin/message', menu: 'admin_message'},
                    {name: '类别管理', icon: 'icon-inbox', url: '/admin/category', menu: 'admin_category'},
                    {name: '标签管理', icon: 'icon-tags', url: '/admin/tag', menu: 'admin_tag'},
                    {name: '友情链接', icon: 'icon-coffee', url: '/admin/link', menu: 'admin_link'},
                    {name: '广告管理', icon: 'icon-credit-card', url: '/admin/ad', menu: 'admin_ad'},
                    {name: '用户管理', icon: 'icon-group', url: '/admin/user', menu: 'admin_user'},
                    {name: '统计分析', icon: 'icon-bar-chart', url: '/admin/stat', menu: 'admin_stat'},
                    {name: '系统管理', icon: 'icon-cogs', url: '/admin/system', menu: 'admin_system'}
                    ] 
                sideMenu.forEach(function (item) {
            %>
            <li class="has_sub">
                <a href="<%= item.url %>" class="<%- item.menu == locals.menu ? 'active' : '' %>">
                    <i class="<%= item.icon %>"></i><span><%= item.name %></span>
                </a>
            </li>
            <%  }); %>
        </ul>
    </div>
</div>