<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="javascript:;" class="logo">
                <span><strong class="text-custom">Opal</strong>CMS</span>
            </a>
        </div>
    </div>
    <div class="nav-bar">
        <ul class="pull-right">
            <li><a href="javascript:void(0)"><i class="icon-user"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-fullscreen"></i></a></li>
            <li><a href="/admin/login"><i class="icon-off"></i></a></li>
        </ul>
    </div>
</div>