<% locals.menu = 'admin_link'; %>
<% include ../includes/content_header %>
<div class="card-box">
    <div class="card-title">
        <div class="row">
            <div class="col-sm-6">
                友情链接管理
            </div>
            <div class="col-sm-6">
                <div class="button-list text-right">
                    <a class="btn btn-create" href="/admin/link">
                        <i class="icon-reply"></i>返回列表
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <form action="/admin/link/<%= locals.context.link.id %>/update" method="POST">
            <div class="row form-panel">
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="请输入友情链接名称" name="name" value="<%= locals.context.link.name || '' %>">
                    <input class="form-control" type="text" placeholder="请输入友情链接名称" name="url" value="<%= locals.context.link.url || '' %>">
                    <input class="form-control" type="text" placeholder="请输入友情链接权重" name="weight" value="<%= locals.context.link.weight || '' %>">
                    <div class="form-input clearfix">
                        <button class="btn-submit fr" type="submit">修改友情链接</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-description">
                        说实话实话实说
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../includes/content_footer %>